[[extend 'layout.html']]

<div class="section">
   
   <div class = "container">
      <p class="title is-3">Class Tracker</p>
      <p class="subtitle is-6"> ( <b>**</b> indicates that a friend is in the class )</p>
      <table class="table is-striped is-fullwidth">
         <tr>
            <th>
               Class Name
            </th>
            <th>
               Class ID
            </th>
            <th>
               Students
            </th>
            
            <th>
               Sign Up / Remove Class
            </th>
            <th>
               Contact Classmate
            </th>
            
            
         </tr>
         [[for row in rows:]]
            <tr>
               <td>
                  [[if row['id'] in friend_classes: ]]
                     <b>**</b>
                  [[pass]]
                  [[ =row['className'] ]]
               </td>
               
               <td>[[ =row['classID'] ]]</td>

           <td>
               [[ =row['students'] ]]
           </td>
           <td>
            <a class="button is-success" href="[[=URL('add_student', row['id'])]]">
               <i class="fa fa-fw fa-plus"></i>
           </a>
           <a class="button is-danger" href="[[=URL('remove_student', row['id'])]]">
            <i class="fa fa-fw fa-trash"></i>
            </a>
           </td>
           <td>
              <a class="button is-warning" href="[[=URL('see_classmates', row['id'])]]">
                 <i class="fa fa-fw fa-list"></i>
              </a>
           </td>

               
            </tr>
         [[pass]]
      </table>
      <div class="container">
         <p>Current Enrollment:</p>
         <ul>
            [[for course in classesTaken:]]
               <li>[[ =course ]]</li>

            [[pass]]
         </ul>
         <br></br>
         
      </div>
      
      
      <div class="container">
         <p class="title is-5"> Personal Information</p>
         <table class="table">
            <tr>
               <th>
                  Name
               </th>
               <th>
                  Email
               </th>
               <th>
                  Friends
               </th>

            </tr>
            <tr>
               
               <td>[[ =student_info[0] ]]</td>

               <td>[[ =student_info[1] ]]</td>
               <td><a href = "[[ =URL('edit_friends') ]]">See Friends</a></td>

            </tr>
            
         </table>
      </div>

     
     
   </div>
</div>